<h1>List of listings</h1>

<div class="container-fluid">

    <%= paginate @listing %>

        <% @listing.in_groups_of(3) do |l1,l2,l3|%>
            <div class="row">
                <div class="col-md-4">
                    <div><%= "#{l1.title}" %></div>
                    <div><%= "kitchen: #{l1.kitchen}" %></div>
                    <div><%= "amenities: #{l1.amenities}"%></div>
                    <div><%= l1.user.email %></div>
                    <% if current_user.id==l1.user_id %>
                        <div><%= link_to "edit listing", edit_listing_path(l1) %></div>
                    <% end %>

                    <% if current_user.customer? %>
                    <% elsif %>
                        <div><%= button_to "delete listing", listing_path(l1), method: :delete %></div>
                    <% end %>

                    <div></br></div>
                </div>

                <% if l2 %>                
                    <div class="col-md-4">
                        <div><%= "#{l2.title}" %></div>
                        <div><%= "kitchen: #{l2.kitchen}" %></div>
                        <div><%= "amenities: #{l2.amenities}"%></div>
                        <div><%= l2.user.email %></div>
                        <% if current_user.id==l2.user_id %>
                            <div><%= link_to "edit listing", edit_listing_path(l2) %></div>
                        <% end %>

                        <% if current_user.customer? %>
                        <% elsif %>
                            <div><%= button_to "delete listing", listing_path(l2), method: :delete %></div>
                        <% end %>

                        <div></br></div>
                    </div>
                <% end %>

                <% if l3 %>
                    <div class="col-md-4">
                        <div><%= "#{l3.title}" %></div>
                        <div><%= "kitchen: #{l3.kitchen}" %></div>
                        <div><%= "amenities: #{l3.amenities}"%></div>
                        <div><%= l3.user.email %></div>
                        <% if current_user.id==l3.user_id %>
                            <div><%= link_to "edit listing", edit_listing_path(l3) %></div>
                        <% end %>

                        <% if current_user.customer? %>
                        <% elsif %>
                            <div><%= button_to "delete listing", listing_path(l3), method: :delete %></div>
                        <% end %>

                        <div></br></div>
                    </div>
                <% end %>
            </div>
        <% end %>

</div>