<h1>List of listings</h1>

<div class="container-fluid">

    <%= paginate @listing %>

        <% @listing.in_groups_of(3) do |l1,l2,l3|%>
            <div class="row">
                <div class="col-md-4">
                    <div><%= "#{l1.title}" %></div>
                    <div><%= "kitchen: #{l1.kitchen}" %></div>
                    <div><%= "amenities: #{l1.amenities}"%></div>
                    <div><%= l1.user.email %></div>
                    <div></br></div>
                </div>

                <% if l2 %>                
                    <div class="col-md-4">
                        <div><%= "#{l2.title}" %></div>
                        <div><%= "kitchen: #{l2.kitchen}" %></div>
                        <div><%= "amenities: #{l2.amenities}"%></div>
                        <div><%= l2.user.email %></div>
                        <div></br></div>
                    </div>
                <% end %>

                <% if l3 %>
                    <div class="col-md-4">
                        <div><%= "#{l3.title}" %></div>
                        <div><%= "kitchen: #{l3.kitchen}" %></div>
                        <div><%= "amenities: #{l3.amenities}"%></div>
                        <div><%= l3.user.email %></div>
                        <div></br></div>
                    </div>
                <% end %>
            </div>
        <% end %>

</div>