<h1>List of listings</h1>

<div class="container-fluid">

<%# remember to replicate any changes in search.html.erb %>

 <!--<%= form_tag search_path, :method => 'get' do%>
    <p>

    </p>
    -->

<% end %>

    <%= paginate @listing %>

        <% @listing.in_groups_of(3) do |l1,l2,l3|%>
            <div class="row">
                <div class="col-md-4 listing">
                    <% if l1.photos.count != 0 %>
                        <div class="map main-gallery js-flickity", data-flickity-options='{ "cellAlign": "left", "contain": true }', data-listing-id="map<%= l1.id %>", data-count="<%= l1.photos.count %>">
                            <% l1.photos.each do |p| %>
                                <div class="map-photos gallery-cell">
                                    <%= image_tag(p.url) %>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                    <div><%= "#{l1.title}" %></div>
                    <div><%= "city: #{l1.city}" %></div>
                    <div><%= "kitchen: #{l1.kitchen}" %></div>
                    <div><%= "amenities: #{l1.amenities}"%></div>
                    <div><%= "price: #{l1.price}"%></div>
                    <div>
                        <% l1.photos.each do |p| %>
                            <%= image_tag(p.thumb.url) %>
                        <% end %>
                    </div>
                    <div><%= l1.user.email %></div>
                    <% if current_user && current_user.id==l1.user_id %>
                        <div><%= button_to "edit listing", edit_listing_path(l1), method: :get  %></div>
                    <% end %>

                    <% if current_user && current_user.customer? %>
                    <% elsif %>
                        <div><%= button_to "delete listing", listing_path(l1), method: :delete %></div>
                    <% end %>

                    <% unless current_user.nil? %>
                        <%= button_to "Reserve", new_listing_reservation_path(l1), method: :get %>
                    <% end %>

                    <div></br></div>
                </div>

                <% if l2 %>                
                    <div class="col-md-4 listing">
                        <% if l2.photos.count != 0 %>
                            <div class="map main-gallery js-flickity", data-flickity-options='{ "cellAlign": "left", "contain": true }', data-listing-id="map<%= l2.id %>", data-count="<%= l2.photos.count %>">
                                <% l2.photos.each do |p| %>
                                    <div class="map-photos gallery-cell">
                                        <%= image_tag(p.url) %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                        <div><%= "#{l2.title}" %></div>
                        <div><%= "city: #{l2.city}" %></div>                        
                        <div><%= "kitchen: #{l2.kitchen}" %></div>
                        <div><%= "amenities: #{l2.amenities}"%></div>
                        <div><%= "price: #{l2.price}"%></div>
                        <div>
                            <% l2.photos.each do |p| %>
                            <%= image_tag(p.thumb.url) %>
                            <% end %>
                        </div>
                        <div><%= l2.user.email %></div>
                        <% if current_user && current_user.id==l2.user_id %>
                            <div><%= button_to "edit listing", edit_listing_path(l2), method: :get  %></div>
                        <% end %>

                        <% if current_user && current_user.customer? %>
                        <% elsif %>
                            <div><%= button_to "delete listing", listing_path(l2), method: :delete %></div>
                        <% end %>

                        <% unless current_user.nil? %>
                            <%= button_to "Reserve", new_listing_reservation_path(l2), method: :get %>
                        <% end %>

                        <div></br></div>
                    </div>
                <% end %>

                <% if l3 %>
                    <div class="col-md-4 listing">
                        <% if l3.photos.count != 0 %>
                            <div class="map main-gallery js-flickity", data-flickity-options='{ "cellAlign": "left", "contain": true }', data-listing-id="map<%= l3.id %>", data-count="<%= l3.photos.count %>">
                                <% l3.photos.each do |p| %>
                                    <div class="map-photos gallery-cell">
                                        <%= image_tag(p.url) %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>                    
                        <div><%= "#{l3.title}" %></div>
                        <div><%= "city: #{l3.city}" %></div>                        
                        <div><%= "kitchen: #{l3.kitchen}" %></div>
                        <div><%= "amenities: #{l3.amenities}"%></div>
                        <div><%= "price: #{l3.price}"%></div>                        
                        <div>
                            <% l3.photos.each do |p| %>
                            <%= image_tag(p.thumb.url) %>
                            <% end %>
                        </div>
                        <div><%= l3.user.email %></div>
                        <% if current_user && current_user.id==l3.user_id %>
                            <div><%= button_to "edit listing", edit_listing_path(l3), method: :get %></div>
                        <% end %>

                        <% if current_user && current_user.customer? %>
                        <% elsif %>
                            <div><%= button_to "delete listing", listing_path(l3), method: :delete %></div>
                        <% end %>

                        <% unless current_user.nil? %>
                            <%= button_to "Reserve", new_listing_reservation_path(l3), method: :get %>
                        <% end %>

                        <div></br></div>
                    </div>
                <% end %>
            </div>
        <% end %>

</div>