<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="file-field">
  <%= form.label "Upload profile picture" %>
  <%= form.file_field :avatar %><br/>
  <%= form.label :remote_avatar_url, "or image URL" %><br/>
  <%= form.text_field :remote_avatar_url %>
</div>
