<h1>Reservation page</h1>

<%= form_for [@listing, @reservation] do |f| %>
    <div class="form-group">
        <div><%= f.label :start_date, class: 'col-sm-2 control-label' %></div>
        <div><%= f.date_field :start_date, autofocus: true, class: "col-sm-2 form-control" %></div>
    </div>

    <div class="form-group">
        <div><%= f.label :end_date, class: 'col-sm-2 control-label' %></div>
        <div><%= f.date_field :end_date, autofocus: true, class: "col-sm-2 form-control" %></div>
    </div>

    <div class="form-group">
            <div><%= f.label :price, class: 'col-sm-2 control-label' %></div>
            <div><%= f.number_field :listing_price, autofocus: true, class: "col-sm-2 form-control", :step => 0.01 %></div>
        </div>

    <div><%= f.submit "Submit Reservation" %></div>

<% end %>