<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
  </head>

  <body>
    <nav class="navbar navbar-default"> 

      <%= link_to "New Listing", new_listing_path %>
      <%= link_to "See Listings", listings_path%>

      <div id="header-inline" class="navbar navbar-right">
        <% if signed_in? -%>
          <div class="d-inline-block avatar"><%= image_tag current_user.avatar.thumb.url, :class => "avatar" if current_user.avatar? %></div>
          <div class="d-inline-block"><%= button_to t(".sign_out"), sign_out_path, method: :delete %></div>
        <% else -%>
          <%= link_to t(".sign_in"), sign_in_path %>
        <% end -%>
      </div>
 
    </nav>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
