<!DOCTYPE html>
<html>
  <head>
    <title>Pairbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    <%= yield :stylesheets %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
        <div class="left">  
            <%= link_to "PAIRBNB", root_path %>
            <div><%= link_to "New Listing", new_listing_path %></div>
            <div><%= link_to "See Listings", listings_path%></div>

            <div>
                <%= form_tag search_path, :method => 'get' do%>
                    <p>
                        <%= text_field_tag :title, params[:title], placeholder: "Search by title" %>
                        <%= text_field_tag :city, params[:city], placeholder: "Search by city" %>                        
                        <%= range_field_tag :min_price, params[:min_price], min: 0, max: 999 %>
                        <%= range_field_tag :max_price, params[:max_price], min: 1, max: 1000 %>
                        <%= submit_tag "Search" %>
                    </p>

                <% end %>
            </div>
        </div>
        <div id="header-inline" class="navbar navbar-right">
            <% if signed_in? -%>
            <div class="d-inline-block avatar"><%= image_tag current_user.avatar.thumb.url, :class => "avatar" if current_user.avatar? %></div>
            <div class="d-inline-block"><%= button_to t(".sign_out"), sign_out_path, method: :delete %></div>
            <% else -%>
            <%= link_to t(".sign_in"), sign_in_path %>
            <% end -%>
        </div>
    </nav>

    <!-- <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div> -->
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
          <%= value %>
      </div>
    <% end %>
    
    <%= yield %>


    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

    <script>
            var form = document.querySelector('#cardForm');
            var submit = document.querySelector("#submit-payment-btn");
            var authorization = '<%= @client_token %>';

            braintree.client.create({
                authorization: authorization
                }, function (clientErr, clientInstance) {
                    if (clientErr) {
                    console.error(clientErr);
                    return;
                    }

                // This example shows Hosted Fields, but you can also use this
                // client instance to create additional components here, such as
                // PayPal or Data Collector.

                braintree.hostedFields.create({
                    client: clientInstance,
                    styles: {
                        'input': {
                            'font-size': '14px'
                        },
                        'input.invalid': {
                            'color': 'red'
                        },
                        'input.valid': {
                            'color': 'green'
                        }
                    },
                    fields: {
                        number: {
                            selector: '#card-number',
                            placeholder: '4111 1111 1111 1111'
                        },
                        cvv: {
                            selector: '#cvv',
                            placeholder: '123'
                        },
                        expirationDate: {
                            selector: '#expiration-date',
                            placeholder: '10/2019'
                        }
                    }
                }, function (hostedFieldsErr, hostedFieldsInstance) {
                    if (hostedFieldsErr) {
                        console.error(hostedFieldsErr);
                        return;
                    }

                    submit.removeAttribute('disabled');

                    form.addEventListener('submit', function (event) {
                        event.preventDefault();

                        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                            if (tokenizeErr) {
                                console.error(tokenizeErr);
                                return;
                            }

                        // If this was a real integration, this is where you would
                        // send the nonce to your server.
                        //   console.log('Got a nonce: ' + payload.nonce);
                            document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;
                            form.submit();
                        });
                    }, false);
                });
            });
      
        
    </script>
  </body>
</html>
